.projects {
  padding-top: 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto);
  text-align: center;
  gap: 10px;
  max-width: 1280px;
  margin: auto;
  background-color: #f0f0f0;
}
