body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    'Common Pixel', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f0f0f0;
  height: 100%;
}

html {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import url('https://fonts.cdnfonts.com/css/common-pixel');
@import url(./blocks/Main/main.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__routes/header__routes.css);
@import url(./blocks/header/__items/header__items.css);
@import url(./blocks/header/__item/header__item.css);
@import url(./blocks/about/about.css);
@import url(./blocks/about/__picture/about__picture.css);
@import url(./blocks/about/__info/about__info.css);
@import url(./blocks/about/__items/about__items.css);
@import url(./blocks/about/__item/about__item.css);
@import url(./blocks/about/__item/_span/about__item_span.css);
@import url(./blocks/main-section/main-section.css);
@import url(./blocks/main-section/__title/main-section__title.css);
@import url(./blocks/main-section/__steck-items/main-section__steck-items.css);
@import url(./blocks//main-section/__card/main-section__card.css);
@import url(./blocks//main-section/__card-picture/main-section__card-picture.css);
@import url(./blocks/main-section/__card-text/main-section__card-text.css);
@import url(./blocks/main-section/__card/_flip/main-section__card_flip.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/aboutme/aboutme.css);
@import url(./blocks/swiper/swiper.css);
@import url(./blocks/swiper/__card/swiper__card.css);
@import url(./blocks/swiper/__picture/swiper__picture.css);
@import url(./blocks/swiper/__text/swiper__text.css);
@import url(./blocks/swiper/__title/swiper__title.css);
@import url(./blocks/swiper/__about/swiper__about.css);
@import url(./blocks/swiper/__card/_fliped/swiper__card_fliped.css);
@import url(./blocks/about-me/about-me.css);
@import url(./blocks/about-me/__welcome/about-me__welcome.css);
@import url(./blocks/about-me/__title/about-me__title.css);
@import url(./blocks/about-me/__title-extra/about-me__title-extra.css);
@import url(./blocks/about-me/__text-container/about-me__text-container.css);
@import url(./blocks/about-me/__paragraph/about-me__paragraph.css);
@import url(./blocks/projects/projects.css);
@import url(./blocks/project-card/project-card.css);
@import url(./blocks/project-card/__picture/project-card__picture.css);
@import url(./blocks/project-card/__title/project-card__title.css);
@import url(./blocks/project-card/__bottom/project-card__bottom.css);
@import url(./blocks/project-card/__visit-link/project-card__visit-link.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__image/popup__image.css);
@import url(./blocks/popup/__text/popup__text.css);
@import url(./blocks/popup/__close/popup__close.css);
@import url(./blocks/games/games.css);
@import url(./blocks/games/__return-menu/games__return-menu.css);
@import url(./blocks//menu/menu.css);
@import url(./blocks/menu/__items/menu__items.css);
@import url(./blocks/menu/__item/menu__item.css);
@import url(./blocks/guess-number/guess-number.css);
@import url(./blocks/guess-number/__start-menu/guess-number__start-menu.css);
@import url(./blocks/guess-number/_strip/guess-number_strip.css);
@import url(./blocks/guess-number/_strip/guess-number_strip2.css);
@import url(./blocks/guess-number/__start/guess-number__start.css);
@import url(./blocks/guess-number/__text/guess-number__text.css);
